{% if block.settings.property_label != blank %}
  <div class="product-line-item__box">
    <p class="product-line-item__title{% if block.settings.property_type == 'text' or block.settings.property_type == 'textarea'  or block.settings.property_type == 'checkbox' %} hidden{% endif %}">
      {{ block.settings.property_label }}
    </p>
    {% assign properties = block.settings.property_values | split: ',' %}
    <div class="product-line-item__content">
      {% case block.settings.property_type %}
        {% when 'text' %}
          <label>{{ block.settings.property_label }}</label>
          <input
            class="form-control input-md product-line-item-feild"
            name="properties[{{ block.settings.property_label }}]"
            placeholder="{{ block.settings.property_label }}"
            form="{{ formId }}"
          >
        {% when 'textarea' %}
          <label>{{ block.settings.property_label }}</label>
          <textarea
            class="form-control input-md product-line-item-feild"
            rows="3"
            name="properties[{{ block.settings.property_label }}]"
            placeholder="{{ block.settings.property_label }}"
            form="{{ formId }}"
          ></textarea>
        {% when 'checkbox' %}
          <div class="custom-checkbox">
            <input
              type="checkbox"
              class="checkmark-input"
              name="properties[{{ block.settings.property_label }}]"
              value="Yes"
              form="{{ formId }}"
            >
            <span class="checkmark"></span>
            <label class="cursor-pointer" for="option" title="">{{ block.settings.property_label }}</label>
          </div>
        {% when 'radio' %}
          {% for value in properties %}
            <div class="custom-checkbox radio-box">
              <input
                type="radio"
                class="checkmark-input"
                name="properties[{{ block.settings.property_label }}]"
                id="radio-{{ block.settings.property_label }}-{{value}}"
                value="{{value}}"
                form="{{ formId }}"
              >
              <span class="checkmark"></span>
              <label for="radio-{{ block.settings.property_label }}-{{value}}">{{ value }}</label>
            </div>
          {% endfor %}
        {% when 'select' %}
          {% if properties != blank %}
            <div class="select-box">
              <select
                class="form-control input-md"
                name="properties[{{ block.settings.property_label }}]"
                form="{{ formId }}"
              >
                {% for value in properties %}
                  <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          {% endif %}
      {% endcase %}
    </div>
  </div>
{% endif %}
