<div class="cart__estimation no-js-hidden">
  <div class="cart__estimation-box">
    <details
      class="detail-box cart__estimation-item"
      {% if section.settings.shipping_estimation_open %}
        open
      {% endif %}
    >
      <summary class="detail-summary cart__estimation-heading">
        <h6 class="text-medium">{{ 'cart.shipping_estimates.heading' | t }}</h6>
        <span class="detail-summary-icon">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
            <path class="vertical-line" d="M5 0H7V12H5V0Z" fill="currentColor"></path>
            <path class="horizontal-line" d="M0 5H12V7H0V5Z" fill="currentColor"></path>
          </svg>
        </span>
      </summary>
      <div class="detail-expand cart__estimation-content">
        <div class="form-group">
          <label class="hidden" for="shippingCountry"> {{ 'cart.shipping_estimates.country' | t }} </label>
          <div class="select-box">
            <select
              id="shippingCountry"
              name="shipping_address[country]"
              data-address-country-select
              data-default="{{ shop.address.country }}"
              autocomplete="country"
              class="form-control"
              placeholder="{{ 'cart.shipping_estimates.country' | t }}"
            >
              {{ country_option_tags }}
            </select>
          </div>
        </div>
        <div class="form-group" id="shippingProvinceContainer" style="display:none;">
          <label class="hidden" for="shippingProvince"> {{ 'cart.shipping_estimates.province' | t }} </label>
          <div class="select-box">
            <select
              id="shippingProvince"
              name="shipping_address[province]"
              autocomplete="address-level1"
              class="form-control"
            ></select>
          </div>
        </div>
        <div class="form-group">
          <label class="hidden" for="shippingZip"> {{ 'cart.shipping_estimates.zip' | t }}</label>
          <input
            type="text"
            id="shippingZip"
            name="shipping_address[zip]"
            class="form-control"
            placeholder="Pin Code"
          >
        </div>
        <div>
          <button type="button" id="getShippingEstimates" class="button btn-block icon-btn right-icon {{ settings.button_style }}">
           {% assign buttonText = 'cart.shipping_estimates.button' | t %}
            {% render 'button-style', buttonText:buttonText %}
          </button>
        </div>
        <div id="ShippingWrapperResponse" style="display:none;"></div>
      </div>
    </details>
  </div>
</div>
