{%- assign socialMediaStatus = false -%}
{%- capture socialMediaLinks -%}
  {%- if settings.social_facebook_link != blank -%}
    {%- assign socialMediaStatus = true -%}
    <li class="social-icons__item">
      <a class="unstyled-link social-icons__link focus-inside" target="_blank" title="Facebook" href="{{ settings.social_facebook_link }}"> 
        <svg width="6" height="12" viewBox="0 0 6 12" fill="none">
            <path d="M4.91434 1.99201H6V0.0840179C5.47435 0.0272262 4.94619 -0.000812568 4.41771 1.79184e-05C2.84697 1.79184e-05 1.77286 0.996016 1.77286 2.82001V4.39201H0V6.52801H1.77286V12H3.89798V6.52801H5.66506L5.9307 4.39201H3.89798V3.03001C3.89798 2.40001 4.05967 1.99201 4.91434 1.99201Z" fill="currentColor"></path>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    {%- assign socialMediaStatus = true -%}
    <li class="social-icons__item">
      <a class="unstyled-link social-icons__link focus-inside" target="_blank" title="Twitter" href="{{ settings.social_twitter_link }}">
        <svg width="18" height="15" viewBox="0 0 18 15" fill="none">
            <path d="M17.64 2.60016C17.1663 3.30348 16.5742 3.91928 15.89 4.42016C15.89 4.47016 15.89 4.55016 15.91 4.65016L15.93 4.88016C15.9273 6.85337 15.3391 8.78142 14.24 10.4202C13.67 11.2702 13 12.0402 12.22 12.7002C11.3835 13.3982 10.4283 13.9401 9.4 14.3002C7.93929 14.8223 6.37898 15.0054 4.83709 14.8356C3.2952 14.6658 1.8121 14.1476 0.5 13.3202C0.84 13.3402 1.11 13.3602 1.33 13.3602C2.97 13.3602 4.43 12.8602 5.71 11.8602C4.97566 11.8373 4.2659 11.5903 3.676 11.1524C3.08611 10.7144 2.64434 10.1065 2.41 9.41016C2.93528 9.53826 3.48587 9.51748 4 9.35016C3.20622 9.19459 2.49172 8.7666 1.98 8.14016C1.4545 7.52076 1.1704 6.73239 1.18 5.92016V5.89016C1.64 6.13016 2.16 6.26016 2.76 6.29016C2.28257 5.97279 1.89175 5.54144 1.62287 5.03511C1.354 4.52879 1.21553 3.96343 1.22 3.39016C1.22 2.78016 1.36 2.19016 1.67 1.60016C2.53757 2.68657 3.62899 3.57335 4.87 4.20016C6.13846 4.84285 7.52939 5.20763 8.95 5.27016C8.87068 5.0106 8.82695 4.74148 8.82 4.47016C8.82 3.50016 9.16 2.67016 9.85 1.99016C10.1817 1.6528 10.5793 1.38728 11.0179 1.21008C11.4566 1.03289 11.927 0.94782 12.4 0.960158C12.876 0.960598 13.3469 1.05841 13.7837 1.24758C14.2205 1.43675 14.614 1.71328 14.94 2.06016C15.74 1.91016 16.48 1.62016 17.17 1.21016C16.9189 2.02746 16.369 2.72013 15.63 3.15016C16.37 3.05016 17.03 2.87016 17.64 2.61016V2.60016Z" fill="currentColor"></path>
        </svg>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    {%- assign socialMediaStatus = true -%}
    <li class="social-icons__item">
        <a class="unstyled-link social-icons__link focus-inside" target="_blank" title="Instagram" href="{{ settings.social_instagram_link }}">
          {% comment %}   <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.9996 0.800049C11.0876 0.800049 10.5992 0.818049 9.06321 0.886449C7.52961 0.958449 6.48561 1.19965 5.56761 1.55605C4.62081 1.92325 3.81681 2.41645 3.01641 3.21685C2.21601 4.01725 1.72161 4.82005 1.35561 5.76805C0.999209 6.68605 0.756809 7.73005 0.686009 9.26365C0.614009 10.7996 0.599609 11.288 0.599609 15.2C0.599609 19.112 0.617609 19.6005 0.686009 21.1365C0.758009 22.6689 0.999209 23.7141 1.35561 24.6321C1.72281 25.5777 2.21601 26.3828 3.01641 27.1832C3.81681 27.9824 4.61961 28.4781 5.56761 28.8441C6.48681 29.1993 7.53081 29.4428 9.06321 29.5136C10.5992 29.5856 11.0876 29.6 14.9996 29.6C18.9116 29.6 19.4 29.582 20.936 29.5136C22.4684 29.4416 23.5136 29.1993 24.4316 28.8441C25.3772 28.4769 26.1824 27.9824 26.9828 27.1832C27.782 26.3828 28.2776 25.5813 28.6436 24.6321C28.9988 23.7141 29.2424 22.6689 29.3132 21.1365C29.3852 19.6005 29.3996 19.112 29.3996 15.2C29.3996 11.288 29.3816 10.7996 29.3132 9.26365C29.2412 7.73125 28.9988 6.68485 28.6436 5.76805C28.2764 4.82125 27.782 4.01725 26.9828 3.21685C26.1824 2.41645 25.3808 1.92205 24.4316 1.55605C23.5136 1.19965 22.4684 0.957249 20.936 0.886449C19.4 0.814449 18.9116 0.800049 14.9996 0.800049ZM14.9996 3.39205C18.8432 3.39205 19.3016 3.41125 20.8196 3.47725C22.2236 3.54325 22.9856 3.77605 23.492 3.97525C24.1664 4.23565 24.644 4.54765 25.1504 5.05045C25.6532 5.55445 25.9652 6.03325 26.2256 6.70765C26.4224 7.21405 26.6576 7.97605 26.7212 9.38005C26.7896 10.8992 26.8052 11.3552 26.8052 15.2C26.8052 19.0448 26.7872 19.5021 26.7164 21.0201C26.6432 22.4241 26.4092 23.186 26.2112 23.6924C25.9424 24.3668 25.6364 24.8444 25.1324 25.3508C24.6296 25.8536 24.1436 26.1656 23.4764 26.426C22.9724 26.6228 22.1984 26.858 20.7944 26.9216C19.2656 26.99 18.8156 27.0056 14.9636 27.0056C11.1104 27.0056 10.6604 26.9876 9.13281 26.9168C7.72761 26.8436 6.95361 26.6097 6.44961 26.4117C5.76681 26.1429 5.29761 25.8369 4.79481 25.3329C4.28961 24.8301 3.96681 24.344 3.71481 23.6768C3.51681 23.1728 3.28401 22.3989 3.21081 20.9949C3.15681 19.4829 3.13761 19.016 3.13761 15.182C3.13761 11.3468 3.15681 10.8788 3.21081 9.34885C3.28401 7.94485 3.51681 7.17205 3.71481 6.66805C3.96681 5.98405 4.28961 5.51605 4.79481 5.01085C5.29761 4.50805 5.76681 4.18405 6.44961 3.93325C6.95361 3.73405 7.71081 3.50005 9.11481 3.42805C10.6448 3.37405 11.0948 3.35605 14.9456 3.35605L14.9996 3.39205V3.39205ZM14.9996 7.80565C10.9136 7.80565 7.60521 11.1176 7.60521 15.2C7.60521 19.286 10.9172 22.5945 14.9996 22.5945C19.0856 22.5945 22.394 19.2824 22.394 15.2C22.394 11.114 19.082 7.80565 14.9996 7.80565ZM14.9996 20C12.3476 20 10.1996 17.852 10.1996 15.2C10.1996 12.548 12.3476 10.4 14.9996 10.4C17.6516 10.4 19.7996 12.548 19.7996 15.2C19.7996 17.852 17.6516 20 14.9996 20ZM24.4148 7.51405C24.4148 8.46805 23.6396 9.24205 22.6868 9.24205C21.7328 9.24205 20.9588 8.46685 20.9588 7.51405C20.9588 6.56125 21.734 5.78725 22.6868 5.78725C23.6384 5.78605 24.4148 6.56125 24.4148 7.51405Z" fill="currentColor"></path>
            </svg>  {% endcomment %}

         <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.0041 8.271C15.2788 8.271 13.5922 8.78261 12.1577 9.74114C10.7231 10.6997 9.60503 12.0621 8.94479 13.656C8.28454 15.25 8.11179 17.004 8.44838 18.6961C8.78497 20.3883 9.61579 21.9426 10.8358 23.1626C12.0557 24.3826 13.6101 25.2134 15.3022 25.55C16.9944 25.8866 18.7484 25.7138 20.3423 25.0536C21.9363 24.3933 23.2987 23.2752 24.2572 21.8407C25.2157 20.4062 25.7274 18.7196 25.7274 16.9943C25.7276 15.8487 25.5021 14.7143 25.0637 13.6558C24.6254 12.5974 23.9829 11.6356 23.1728 10.8256C22.3627 10.0155 21.401 9.37294 20.3426 8.93462C19.2841 8.49631 18.1497 8.2708 17.0041 8.271ZM17.0041 22.663C15.8844 22.663 14.7898 22.3309 13.8588 21.7089C12.9278 21.0868 12.2022 20.2026 11.7737 19.1681C11.3452 18.1337 11.2331 16.9954 11.4515 15.8972C11.67 14.799 12.2091 13.7902 13.0009 12.9985C13.7926 12.2067 14.8014 11.6675 15.8996 11.4491C16.9978 11.2306 18.1361 11.3428 19.1706 11.7712C20.205 12.1997 21.0892 12.9254 21.7113 13.8564C22.3334 14.7874 22.6654 15.8819 22.6654 17.0016C22.6638 18.502 22.0666 19.9403 21.0051 21.0005C19.9435 22.0607 18.5044 22.656 17.0041 22.6556V22.663Z" fill="white"/>
<path d="M24.0079 0.107407C20.8799 -0.0394501 13.1332 -0.0321073 10.0022 0.107407C7.35664 0.0602632 4.79706 1.04711 2.86789 2.85804C-0.401148 6.12707 0.0173946 10.5328 0.0173946 16.993C0.0173946 23.6016 -0.351216 27.9089 2.86935 31.1295C6.15161 34.4102 10.6205 33.9814 17.0058 33.9814C23.5556 33.9814 25.8172 33.9814 28.1331 33.0885C31.2818 31.8667 33.6594 29.0514 33.8914 23.9951C34.0383 20.8656 34.0309 13.1204 33.8914 9.98941C33.6094 4.02114 30.3991 0.402589 24.0079 0.107407ZM28.9585 28.9648C26.8158 31.1074 23.842 30.9165 16.9632 30.9165C9.8803 30.9165 7.04009 31.0208 4.96794 28.9428C2.58152 26.5666 3.01327 22.7527 3.01327 16.968C3.01327 9.14204 2.20997 3.50567 10.0624 3.10329C11.8673 3.04014 12.3989 3.01811 16.9412 3.01811L17.0043 3.0607C24.5528 3.0607 30.4755 2.27061 30.8309 10.123C30.9117 11.9147 30.9308 12.4537 30.9308 16.9886C30.9308 23.9893 31.0629 26.8471 28.9555 28.9633L28.9585 28.9648Z" fill="white"/>
<path d="M26.0724 9.96444C27.1981 9.96444 28.1107 9.05183 28.1107 7.92607C28.1107 6.80031 27.1981 5.8877 26.0724 5.8877C24.9466 5.8877 24.034 6.80031 24.034 7.92607C24.034 9.05183 24.9466 9.96444 26.0724 9.96444Z" fill="white"/>
</svg>
        </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    {%- assign socialMediaStatus = true -%}
    <li class="social-icons__item">
        <a class="unstyled-link social-icons__link focus-inside" target="_blank" title="Pinterest" href="{{ settings.social_pinterest_link }}">
            <svg width="17" height="18" viewBox="0 0 17 18" fill="none">
                <path d="M8.48 0.579971C10.6922 0.589881 12.8115 1.46996 14.38 3.02997C15.67 4.33557 16.4981 6.02692 16.7382 7.84656C16.9783 9.6662 16.6172 11.5145 15.71 13.11C14.9808 14.3812 13.9273 15.4361 12.6571 16.1669C11.3869 16.8978 9.94545 17.2784 8.48 17.27C7.67887 17.2755 6.88097 17.1678 6.11 16.95C6.53 16.27 6.81 15.66 6.96 15.15L7.55 12.86C7.69 13.14 7.96 13.38 8.35 13.59C8.75 13.79 9.15 13.9 9.59 13.9C10.46 13.9 11.24 13.65 11.93 13.15C12.6393 12.6243 13.1923 11.9157 13.53 11.1C13.9164 10.1723 14.107 9.17477 14.09 8.16997C14.09 6.86997 13.59 5.75997 12.6 4.80997C12.0926 4.33219 11.4955 3.95979 10.8432 3.71433C10.191 3.46887 9.49649 3.35522 8.8 3.37997C7.87 3.37997 7 3.53997 6.22 3.85997C5.25219 4.22776 4.41531 4.87453 3.81538 5.71834C3.21546 6.56216 2.87947 7.56505 2.85 8.59997C2.85 9.34997 2.99 10.01 3.28 10.58C3.56 11.14 3.98 11.54 4.55 11.78C4.65 11.82 4.74 11.82 4.81 11.78C4.88 11.75 4.93 11.68 4.96 11.58L5.14 10.9C5.19 10.75 5.16 10.6 5.03 10.45C4.64003 9.99866 4.43626 9.41595 4.46 8.81997C4.45125 8.27941 4.55327 7.74278 4.75979 7.24315C4.96631 6.74352 5.27295 6.29146 5.66082 5.91484C6.04868 5.53822 6.50956 5.245 7.01505 5.05327C7.52053 4.86153 8.05993 4.77533 8.6 4.79997C9.69 4.79997 10.54 5.09997 11.14 5.68997C11.75 6.28997 12.06 7.05997 12.06 8.00997C12.06 8.80997 11.95 9.54997 11.73 10.22C11.5533 10.8263 11.2344 11.3816 10.8 11.84C10.4 12.24 9.93 12.44 9.4 12.44C8.97 12.44 8.62 12.29 8.34 11.97C8.07 11.65 7.98 11.27 8.08 10.84C8.23266 10.3055 8.38934 9.77212 8.55 9.23997L8.73 8.50997C8.79 8.24997 8.82 8.03997 8.82 7.85997C8.82 7.49997 8.72 7.19997 8.54 6.96997C8.34 6.73997 8.07 6.61997 7.71 6.61997C7.26 6.61997 6.88 6.81997 6.58 7.23997C6.28 7.64997 6.12 8.16997 6.12 8.79997C6.125 9.18991 6.18562 9.57715 6.3 9.94997L6.36 10.1C5.76 12.68 5.41 14.2 5.28 14.64C5.16 15.19 5.12 15.84 5.15 16.58C3.66706 15.9236 2.40583 14.8519 1.51859 13.4945C0.631345 12.137 0.15602 10.5517 0.150002 8.92997C0.150002 6.62997 0.960001 4.64997 2.59 3.02997C3.35181 2.23954 4.26743 1.61349 5.28041 1.19041C6.2934 0.767328 7.3823 0.556177 8.48 0.569971V0.579971Z" fill="currentColor"></path>
            </svg>
        </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    {%- assign socialMediaStatus = true -%}
    <li class="social-icons__item">
        <a class="unstyled-link social-icons__link focus-inside" target="_blank" title="snapchat" href="{{ settings.social_snapchat_link }}">
          <svg width="18" height="17" viewBox="0 0 18 17" fill="none" >
            <path d="M17.0996 12.8406C17.2324 12.575 17.0664 12.3425 16.8672 12.3093C14.543 11.9441 13.5137 9.55347 13.4473 9.45386C13.3145 9.18823 13.3145 8.98901 13.3809 8.823C13.5137 8.52417 14.0117 8.35815 14.3105 8.25854C14.4102 8.22534 14.5098 8.19214 14.5762 8.15894C15.1406 7.92651 15.4395 7.66089 15.4395 7.32886C15.4062 7.09644 15.2402 6.86401 14.9082 6.7312C14.709 6.66479 14.4434 6.66479 14.2441 6.7312C13.9453 6.86401 13.7129 6.93042 13.4805 6.96362C13.3477 6.93042 13.248 6.89722 13.2148 6.86401C13.2812 5.6687 13.4473 3.97534 13.0156 3.01245C12.2188 1.21948 10.5586 0.322998 8.79883 0.322998C8.76562 0.322998 8.5 0.322998 8.4668 0.322998C7.76953 0.322998 5.41211 0.522217 4.2832 3.04565C3.85156 3.97534 4.01758 5.7019 4.08398 6.86401C4.01758 6.89722 3.91797 6.96362 3.75195 6.96362C3.51953 6.96362 3.28711 6.89722 2.98828 6.7312C2.58984 6.56519 1.95898 6.83081 1.89258 7.26245C1.82617 7.49487 1.95898 7.86011 2.72266 8.15894C3.02148 8.29175 3.75195 8.42456 3.91797 8.823C3.98438 8.98901 3.98438 9.18823 3.85156 9.45386C3.78516 9.55347 2.75586 11.9441 0.431641 12.3093C0.265625 12.3425 0.132812 12.5085 0.132812 12.6746H0.166016C0.199219 13.3718 1.72656 13.6375 2.42383 13.7703C2.49023 13.8367 2.55664 14.2351 2.65625 14.5671C2.68945 14.7 2.78906 14.866 3.05469 14.866C3.32031 14.866 3.71875 14.7 4.34961 14.7C5.21289 14.7 5.51172 14.8992 6.20898 15.3972C6.70703 15.7292 7.57031 16.3601 8.63281 16.2937C9.66211 16.3269 10.3594 15.8953 11.0898 15.3972C11.7871 14.8992 12.0859 14.7 12.9492 14.7C13.6133 14.7 13.9453 14.8328 14.2441 14.8328C14.4766 14.8328 14.6094 14.7332 14.6426 14.5339C14.7422 14.2351 14.8086 13.8367 14.875 13.7371C16.2031 13.5378 16.9336 13.239 17.0996 12.8406Z" fill="currentColor"/>
            </svg>
        </a>
    </li>
  {%- endif -%}
  {%- if settings.social_linkedin_link != blank -%}
    {%- assign socialMediaStatus = true -%}
    <li class="social-icons__item">
        <a class="unstyled-link social-icons__link focus-inside" target="_blank" title="linkedin" href="{{ settings.social_linkedin_link }}">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.23828 15.6667V5.73901H1.15039V15.6667H4.23828ZM2.67773 4.41089C3.67383 4.41089 4.4707 3.58081 4.4707 2.58472C4.4707 1.62183 3.67383 0.791748 2.67773 0.791748C1.71484 0.791748 0.917969 1.62183 0.917969 2.58472C0.917969 3.58081 1.71484 4.41089 2.67773 4.41089ZM15.793 15.6667V10.2214C15.793 7.56519 15.1953 5.50659 12.0742 5.50659C10.5801 5.50659 9.58398 6.33667 9.15234 7.10034H9.11914V5.73901H6.16406V15.6667H9.25195V10.7527C9.25195 9.45776 9.48438 8.22925 11.1113 8.22925C12.6719 8.22925 12.7051 9.69019 12.7051 10.8523V15.6667H15.793Z" fill="currentColor"/>
            </svg>
        </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    {%- assign socialMediaStatus = true -%}
    <li class="social-icons__item">
        <a class="unstyled-link social-icons__link focus-inside" target="_blank" title="Tiktok" href="{{ settings.social_tiktok_link }}">
            {% comment %} <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.4341 0.423902C15.0061 0.399902 16.5661 0.411902 18.1261 0.399902C18.2221 2.2359 18.8821 4.1079 20.2261 5.4039C21.5701 6.7359 23.4661 7.3479 25.3141 7.5519V12.3879C23.5861 12.3279 21.8461 11.9679 20.2741 11.2239C19.5901 10.9119 18.9541 10.5159 18.3301 10.1079C18.3181 13.6119 18.3421 17.1159 18.3061 20.6079C18.2101 22.2879 17.6581 23.9559 16.6861 25.3359C15.1141 27.6399 12.3901 29.1399 9.59405 29.1879C7.87805 29.2839 6.16205 28.8159 4.69805 27.9519C2.27405 26.5239 0.570051 23.9079 0.318051 21.0999C0.294051 20.4999 0.282051 19.8999 0.306051 19.3119C0.522051 17.0319 1.65005 14.8479 3.40205 13.3599C5.39405 11.6319 8.17805 10.8039 10.7821 11.2959C10.8061 13.0719 10.7341 14.8479 10.7341 16.6239C9.54605 16.2399 8.15405 16.3479 7.11005 17.0679C6.35405 17.5599 5.77805 18.3159 5.47805 19.1679C5.22605 19.7799 5.29805 20.4519 5.31005 21.0999C5.59805 23.0679 7.49405 24.7239 9.51005 24.5439C10.8541 24.5319 12.1381 23.7519 12.8341 22.6119C13.0621 22.2159 13.3141 21.8079 13.3261 21.3399C13.4461 19.1919 13.3981 17.0559 13.4101 14.9079C13.4221 10.0719 13.3981 5.2479 13.4341 0.423902V0.423902Z" fill="currentColor"></path>
            </svg>  {% endcomment %}
          <svg width="30" height="34" viewBox="0 0 30 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M29.841 8.51475C27.9735 8.51776 26.1561 7.91025 24.6658 6.78478C23.6135 5.99293 22.7579 4.96914 22.1655 3.79296C21.5731 2.61677 21.2598 1.31985 21.2499 0.00292969H15.6987V15.1703V23.478C15.7008 24.5421 15.3654 25.5794 14.7409 26.4409C14.1163 27.3024 13.2347 27.9437 12.2228 28.2726C11.2108 28.6016 10.1207 28.6012 9.10892 28.2716C8.09719 27.942 7.21601 27.3001 6.59202 26.4382C5.96803 25.5763 5.63336 24.5388 5.63612 23.4747C5.63888 22.4106 5.97893 21.3748 6.60738 20.5162C7.23584 19.6575 8.12033 19.0202 9.13376 18.6959C10.1472 18.3715 11.2374 18.3768 12.2476 18.711V13.0747C11.7177 12.9958 11.1826 12.956 10.6469 12.9557C9.13623 12.9503 7.64176 13.2666 6.26279 13.8834C4.88382 14.5002 3.65194 15.4035 2.64903 16.5331C0.864436 18.5319 -0.0821734 21.141 0.00560132 23.8191C0.0933761 26.4972 1.2088 29.0387 3.12044 30.9163C3.43634 31.2304 3.77132 31.5246 4.12347 31.7974C5.99423 33.2345 8.28936 34.0093 10.6483 34.0003C11.1841 34.0004 11.7191 33.9612 12.2491 33.8828C14.4872 33.5503 16.5605 32.5108 18.1659 30.9163C19.1499 29.9508 19.9319 28.7991 20.4664 27.5284C21.0009 26.2577 21.2772 24.8933 21.2793 23.5147L21.2499 11.1156C23.7159 13.0158 26.7426 14.0442 29.8557 14.0395V8.51328H29.841V8.51475Z" fill="white"/>
          </svg>
        </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    {%- assign socialMediaStatus = true -%}
    <li class="social-icons__item">
        <a class="unstyled-link social-icons__link focus-inside" target="_blank" title="You tube" href="{{ settings.social_youtube_link }}">
            <svg width="29" height="21" viewBox="0 0 29 21" fill="none">
                <path d="M28.3953 3.24598C28.2284 2.64809 27.9102 2.10336 27.4712 1.66444C27.0323 1.22551 26.4876 0.907238 25.8897 0.740377C23.6457 0.139177 14.6145 0.139177 14.6145 0.139177C14.6145 0.139177 5.60609 0.127177 3.33929 0.740377C2.74141 0.907238 2.19667 1.22551 1.75775 1.66444C1.31883 2.10336 1.00055 2.64809 0.83369 3.24598C0.408315 5.54339 0.198603 7.87553 0.20729 10.212C0.200245 12.5396 0.409951 14.8628 0.83369 17.1516C1.00055 17.7495 1.31883 18.2942 1.75775 18.7331C2.19667 19.172 2.74141 19.4903 3.33929 19.6572C5.58089 20.2596 14.6145 20.2596 14.6145 20.2596C14.6145 20.2596 23.6217 20.2596 25.8897 19.6572C26.4876 19.4903 27.0323 19.172 27.4712 18.7331C27.9102 18.2942 28.2284 17.7495 28.3953 17.1516C28.8102 14.862 29.011 12.5388 28.9953 10.212C29.0127 7.87636 28.8118 5.54422 28.3953 3.24598ZM11.7321 14.5212V5.88958L19.2489 10.212L11.7321 14.5212Z" fill="currentColor"></path>
            </svg>
        </a>
    </li>
  {%- endif -%}
{%- endcapture -%}
{%- if socialMediaStatus -%}
  <div class="social-icons {% unless class == 'header-nocircle-icon' %}circle-icons{% endunless %}">
    <ul class="list-unstyled social-icons__list">
      {{- socialMediaLinks -}}
    </ul>
  </div>
{%- endif -%}
