{%- liquid
  assign custom_image = block.settings.custom_image
  assign custom_title = block.settings.custom_title
  assign custom_subtitle = block.settings.custom_subtitle
  assign featured_image = collection.featured_image
  assign default_image = section.settings.default_image
  assign enable_random_bg = section.settings.enable_random_bg
  
  # Determine which image to use
  assign display_image = ''
  assign use_default = false
  
  if custom_image != blank
    assign display_image = custom_image
  elsif featured_image != blank
    assign display_image = featured_image
  elsif default_image != blank
    assign display_image = default_image
    assign use_default = true
  else
    assign use_default = true
  endif
  
  # Determine which title to use
  assign display_title = collection.title
  if custom_title != blank
    assign display_title = custom_title
  elsif collection == blank
    assign display_title = 'sections.onboarding_collection.title' | t
  endif
  
  # Determine subtitle
  assign display_subtitle = custom_subtitle
  if display_subtitle == blank and collection != blank
    assign display_subtitle = collection.products_count | append: ' products'
  elsif display_subtitle == blank
    assign display_subtitle = 'Lorem ipsum'
  endif
  
  # Set up image ratio
  if section.settings.grid_image_size == 'landscape'
    assign collection_image_ratio = 'var(--img-landscape)'
  elsif section.settings.grid_image_size == 'square'
    assign collection_image_ratio = 'var(--img-square)'
  elsif section.settings.grid_image_size == 'portrait'
    assign collection_image_ratio = 'var(--img-portrait)'
  else
    if display_image != blank
      assign collection_image_ratio = 1 | divided_by: display_image.aspect_ratio | times: 100 | append: '%'
    else
      assign collection_image_ratio = '75%'
    endif
  endif
  
  # Generate random background color for default image
  assign random_bg_colors = '#7DD3FC,#A7F3D0,#FDE68A,#F9A8D4,#DDD6FE,#A7F3D0,#FEF3C7,#A0F0ED'
  assign bg_colors_array = random_bg_colors | split: ','
  assign random_index = collection.id | modulo: bg_colors_array.size
  assign random_bg_color = bg_colors_array[random_index]
-%}


<div class="col-6 col-sm-4 col-md-4 col-lg-3 vendor-collection-card-item">
  <div
    class="vendor-collection-card"
    {% if settings.enable_animations %}
      data-aos="fade-up"
      data-aos-easing="ease"
      data-aos-offset="0"
      data-aos-duration="1000"
    {% endif %}
    {{ block.shopify_attributes }}
  >
    <a
      {% if collection != blank %}
        href="{{ collection.url }}"
      {% else %}
        role="link"
        aria-disabled="true"
      {% endif %}
      class="unstyled-link vendor-collection-card-link"
      aria-label="{{ display_title }}"
    >
      <div
        class="vendor-collection-card-img{% if use_default and enable_random_bg %} default-image-bg{% endif %}"
        {% if use_default and enable_random_bg %}
          style="--random-bg-color: {{ random_bg_color }}; --img-ratio: {{ collection_image_ratio }}"
        {% else %}
          style="--img-ratio: {{ collection_image_ratio }}"
        {% endif %}
      >
        <div class="image-wrapper">
          {%- if display_image != blank -%}
            {% render 'lazy-image', image: display_image %}
          {% else %}
            <div class="default-collection-icon">
              <div class="loading-dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      
      <div class="vendor-collection-card-content">
        <h3 class="vendor-collection-card-title">
          {{ display_title }}
        </h3>
        <p class="vendor-collection-card-subtitle">
          {{ display_subtitle }}
        </p>
      </div>
    </a>
  </div>
</div> 