<!doctype html>
{% liquid
  assign rtlEnable = false
  if settings.content_direction
    if settings.languanges_code != blank
      if settings.languanges_code contains localization.language.iso_code
        assign rtlEnable = true
      endif
    else
      assign rtlEnable = true
    endif
  endif
%}
<html
  class="no-js full-height"
  lang="{{ request.locale.iso_code }}"
  direction-rtl="{% if rtlEnable == true %}true{% else %}false{% endif %}"
>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    {% render 'meta-tags' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    {%- unless settings.header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
    <title>{{ shop.name }}</title>
    <meta name="description" content="{{ page_description | escape }}">
    {{ content_for_header }}
    {% render 'style-variables' %}
    {% render 'theme-variables' %}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
  </head>
  <body>
    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        let focusElement = '';
        if ($('#PasswordLoginForm-password-error').length > 0) {
          $('body').addClass('PasswordFormActive');
          $('#passwordPopup').fadeIn();
          $('#passwordPopup').find('a.popup-close').trigger('focus');
          focusElement = $('.password__enter-btn');
          $('body').on('click', '.password__enter-btn', function (e) {
            e.preventDefault();
            $('body').addClass('PasswordFormActive');
            $('#passwordPopup').fadeIn();
            $('#passwordPopup').find('a.popup-close').trigger('focus');
            focusElement = $('.password__enter-btn');
          });
          $('body').on('click', '#passwordPopup .popup-close', function (e) {
            e.preventDefault();
            $('body').removeClass('PasswordFormActive');
            $('#passwordPopup').fadeOut();
            focusElement.trigger('focus');
          });
        }
      });
    </script>
  </body>
</html>
