<div class="section-wrapper {{ section.settings.color_scheme }}-color-scheme {% if section.settings.enable_gradiant %} gradient{% endif %}">
  <div class="container">
    <div class="custom-liquid text-{{ section.settings.text_alignment }}">
      {{
        section.settings.custom_liquid
        | replace: '<table', '<div class="table-responsive"><table'
        | replace: '</table>', '</table></div>'
      }}
    </div>
  </div>
</div>
<style>
  #shopify-section-{{ section.id }} {
    --inner-space-top:{{ section.settings.top_space_desktop }}px;
    --inner-space-bottom:{{ section.settings.bottom_space_desktop }}px;
  }
  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}.shopify-section{
      --inner-space-top:{{ section.settings.top_space_mobile }}px;
      --inner-space-bottom:{{ section.settings.bottom_space_mobile }}px;
    }
  }
</style>
{% schema %}
{
  "name": "t:sections.custom_liquid.name",
  "class": "section custom-liquid-section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom_liquid.settings.liquid.label",
      "info": "t:sections.custom_liquid.settings.liquid.info"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:common.text_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:common.text_alignment.options.left.label"
        },
        {
          "value": "center",
          "label": "t:common.text_alignment.options.center.label"
        },
        {
          "value": "right",
          "label": "t:common.text_alignment.options.right.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:common.header.color_singular_section.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:common.color_scheme.label",
      "default": "primary",
      "options": [
        {
          "value": "primary",
          "label": "t:common.color_scheme.options.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:common.color_scheme.options.secondary.label"
        },
        {
          "value": "tertiary",
          "label": "t:common.color_scheme.options.tertiary.label"
        },
        {
          "value": "quaternary",
          "label": "t:common.color_scheme.options.quaternary.label"
        }
      ]
    },
    {
      "type":"checkbox",
      "id":"enable_gradiant",
      "label":"t:common.gradient.label",
      "default":false
    },
    {
      "type": "header",
      "content": "t:common.section_spacing.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:common.section_spacing.top_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:common.section_spacing.bottom_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:common.section_spacing.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:common.section_spacing.bottom_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_liquid.presets.name"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
