{% liquid
  assign rtlEnable = false
  if settings.content_direction
    if settings.languanges_code != blank
      if settings.languanges_code contains localization.language.iso_code
        assign rtlEnable = true
      endif
    else
      assign rtlEnable = true
    endif
  endif
%}
{% if rtlEnable %}
  <link rel="preload" as="style" href="{{ 'collapsible-content-rtl.css' | asset_url }}">
  <link rel="preload" as="style" href="{{ 'store-locator-rtl.css' | asset_url }}">
  {{ 'collapsible-content-rtl.css' | asset_url | stylesheet_tag }}
  {{ 'store-locator-rtl.css' | asset_url | stylesheet_tag }}
{% else %}
  <link rel="preload" as="style" href="{{ 'collapsible-content.css' | asset_url }}">
  <link rel="preload" as="style" href="{{ 'store-locator.css' | asset_url }}">
  {{ 'collapsible-content.css' | asset_url | stylesheet_tag }}
  {{ 'store-locator.css' | asset_url | stylesheet_tag }}
{% endif %}
<div class="section-wrapper {{ section.settings.color_scheme }}-color-scheme {% if section.settings.enable_gradiant %} gradient{% endif %}">
  <div class="container"> 
    <div class="store-locator__box">
      {% if section.blocks.size > 0 %}
        <div class="store-locator__image-box">
          {% assign firstBlock = false %}
          {% assign firstBlockContent = '' %}
          {% for block in section.blocks %}
            {% if block.settings.store_name != blank %}
              {% liquid 
                if firstBlock == false
                  assign firstBlock = true
                  assign firstBlockContent = block
                endif
              %}
                <div id="media-{{ block.id }}" class="fixed-height store-locator__img{% if block.id == firstBlockContent.id %} active{% else %} hidden{% endif %}">
                  <div class="image-wrapper">
                    {% if block.settings.store_image != blank %}
                    {%- render 'lazy-image', image: block.settings.store_image -%}
                    {% else %}
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                  </div>
                </div>
            {% endif %}
          {% endfor %}
          <div class="fixed-height store-locator__map{% if firstBlockContent.settings.location == blank  %} hidden{% endif %}">
            <div class="store-locator__map-content" data-location="{{ firstBlockContent.settings.location }}" 
              data-map-style="roadmap"
              data-store-locator-map
              data-map-container ></div>
          </div>
        </div>
      {% endif %}
      <div class="store-locator__content-box">
        {% if section.settings.heading != blank %}
          {%- capture higlightPrefix -%}
            <span class="marker">
          {%- endcapture -%}
          {%- capture highlightSuffix -%}
            {%- render 'marker-text-style' marker_style:section.settings.higlight_style -%}
          {%- endcapture -%}
            <h2
              class="store-locator__heading rte{% if section.settings.enable_highlight %} highlight-text{% endif %} {{ section.settings.heading_size }}"
              style="--outline-thickness:{{ section.settings.outline_thickness }};--marker-svg:{{ section.settings.marker_color }};--marker:{{ section.settings.marker_text_color }}"
            >
              {{ section.settings.heading | replace:"[[", higlightPrefix | replace:"]]",highlightSuffix }}
            </h2>
        {% endif %}
        {% if section.blocks.size > 0 %}
          <div class="store-locator__content">
            {% assign firstBlock = false %}
            <div class="store-locator-accordion__wrapper details-box-outer">
              {% for block in section.blocks %}
                {% if block.settings.store_name != blank %}
                  <details class="detail-box accordion__item" data-store-heading data-map="{{ block.settings.location }}" data-media="media-{{ block.id }}" {% if firstBlock == false %} open{% endif %} {{ block.shopify_attributes }}>
                    <summary class="detail-summary accordion__heading">
                      <strong> {{ block.settings.store_name }} </strong>
                      <span class="detail-summary-icon">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
                          <path class="vertical-line" d="M5 0H7V12H5V0Z" fill="currentColor"></path>
                          <path class="horizontal-line" d="M0 5H12V7H0V5Z" fill="currentColor"></path>
                        </svg>
                      </span>
                    </summary>
                    <div class="detail-expand accordion__content">
                      <div class="detail-content-body rte">
                        {{ block.settings.store_detail }}
                      </div>
                    </div>
                  </details>
                  {% liquid 
                    if firstBlock == false
                      assign firstBlock = true
                    endif
                  %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<style>
  #shopify-section-{{ section.id }} {
    --inner-space-top:{{ section.settings.top_space_desktop }}px;
    --inner-space-bottom:{{ section.settings.bottom_space_desktop }}px;
    --image-height: {{ section.settings.image_height }};
  }
  #shopify-section-{{ section.id }} .store-locator__heading{
    padding-bottom:{{ section.settings.heading_space_desktop }}px;
  }
  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}.shopify-section{
      --inner-space-top:{{ section.settings.top_space_mobile }}px;
      --inner-space-bottom:{{ section.settings.bottom_space_mobile }}px;
    }
    #shopify-section-{{ section.id }} .store-locator__heading{
      padding-bottom:{{ section.settings.heading_space_mobile }}px;
    }
  }
  {% if section.settings.section_visibility == 'large' %}
    @media (max-width: 767px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
     
      
    }
  {% elsif section.settings.section_visibility == 'small' %}
    @media (min-width: 768px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
     
    }
  {% endif %}

  @media (max-width: 767px) {
    #shopify-section-{{ section.id }}{
      --image-height: {{ section.settings.mobile_image_height }};
    }
  }
</style>
{% schema %}
{
  "name": "t:sections.store_locator.name",
  "class": "store-locator-section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:common.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:common.section_visibility.options.always.label",
          "value": "always"
        },
        {
          "label": "t:common.section_visibility.options.small_devices.label",
          "value": "small"
        },
        {
          "label": "t:common.section_visibility.options.large_devices.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:common.heading.label",
      "info":"t:common.marker_style.info",
      "default": "Find store near you"
    },
    {
      "type": "checkbox",
      "id": "enable_highlight",
      "label": "t:common.highlight_text.label",
      "info": "t:common.highlight_text.info",
      "default": false
    },
    {
      "type":"select",
      "id":"higlight_style",
      "label":"t:common.marker_style.label",
      "default": "basic",
      "options":[
        {
          "value": "basic",
          "label": "t:common.marker_style.options.basic.label"
        },
        {
          "value": "curved",
          "label": "t:common.marker_style.options.curved.label"
        },
        {
          "value": "line",
          "label": "t:common.marker_style.options.line.label"
        },
        {
          "value": "box",
          "label": "t:common.marker_style.options.box.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "outline_thickness",
      "label": "t:common.outline_stroke.label",
      "default": "1px",
      "options": [
        {
          "value": "1px",
          "label": "t:common.outline_stroke.options.thin.label"
        },
        {
          "value": "2px",
          "label": "t:common.outline_stroke.options.thick.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:common.heading_size.label",
      "default": "h6",
      "options": [
        {
          "value": "h1",
          "label": "t:common.heading_size.options.h1.label"
        },
        {
          "value": "h2",
          "label": "t:common.heading_size.options.h2.label"
        },
        {
          "value": "h3",
          "label": "t:common.heading_size.options.h3.label"
        },
        {
          "value": "h4",
          "label": "t:common.heading_size.options.h4.label"
        },
        {
          "value": "h5",
          "label": "t:common.heading_size.options.h5.label"
        },
        {
          "value": "h6",
          "label": "t:common.heading_size.options.h6.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "heading_space_desktop",
      "label": "t:common.header.heading_space_desktop.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit":"px"
    },
    {
      "type": "range",
      "id": "heading_space_mobile",
      "label": "t:common.header.heading_space_mobile.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit":"px"
    },
    {
      "type": "header",
      "content": "t:common.header.image.label"
    },
    {
      "type":"select",
      "id":"image_height",
      "label":"t:sections.store_locator.settings.desktop_height.label",
      "default": "400px",
      "options": [
        {
          "value": "400px",
          "label": "400px"
        },
        {
          "value": "500px",
          "label": "500px"
        },
        {
          "value": "600px",
          "label": "600px"
        }
      ]
    },
    {
      "type":"select",
      "id":"mobile_image_height",
      "label":"t:sections.store_locator.settings.mobile_height.label",
      "default": "200px",
      "options": [
        {
          "value": "200px",
          "label": "200px"
        },
        {
          "value": "300px",
          "label": "300px"
        },
        {
          "value": "400px",
          "label": "400px"
        }
        
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.color_section.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:common.color_scheme.label",
      "default": "secondary",
      "options": [
        {
          "value": "primary",
          "label": "t:common.color_scheme.options.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:common.color_scheme.options.secondary.label"
        },
        {
          "value": "tertiary",
          "label": "t:common.color_scheme.options.tertiary.label"
        },
        {
          "value": "quaternary",
          "label": "t:common.color_scheme.options.quaternary.label"
        }
      ]
    },
    {
      "type":"checkbox",
      "id":"enable_gradiant",
      "label":"t:common.gradient.label",
      "default":false
    },
    {
      "type": "color",
      "id": "marker_color",
      "label": "t:common.marker_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "marker_text_color",
      "label": "t:common.marker_text_color.label",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "t:common.section_spacing.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:common.section_spacing.top_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:common.section_spacing.bottom_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:common.section_spacing.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:common.section_spacing.bottom_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "store",
      "name": "t:sections.store_locator.blocks.store.name",
      "settings": [
        {
          "type": "text",
          "label": "t:sections.store_locator.blocks.store.settings.store_name.label",
          "id": "store_name",
          "default":"Store name"
        },
        {
          "type": "richtext",
          "label": "t:sections.store_locator.blocks.store.settings.store_detail.label",
          "id": "store_detail",
          "default":"<p>Store details here</p>"
        },
        {
          "type": "image_picker",
          "label": "t:sections.store_locator.blocks.store.settings.store_image.label",
          "id": "store_image"
        },
        {
          "type": "text",
          "label": "t:sections.store_locator.blocks.store.settings.location.label",
          "id": "location",
          "default":"USA",
          "info":"t:sections.store_locator.blocks.store.settings.location.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.store_locator.name",
      "blocks": [
        {
          "type": "store"
        },
        {
          "type": "store"
        },
        {
          "type": "store"
        }
      ]
    }
  ]
}
{% endschema %}
