{% liquid
  assign rtlEnable = false
  if settings.content_direction
    if settings.languanges_code != blank
      if settings.languanges_code contains localization.language.iso_code
        assign rtlEnable = true
      endif
    else
      assign rtlEnable = true
    endif
  endif
%}
{% if rtlEnable %}
  <link rel="preload" as="style" href="{{ 'timeline-rtl.css' | asset_url }}">
  {{ 'timeline-rtl.css' | asset_url | stylesheet_tag }}
{% else %}
  <link rel="preload" as="style" href="{{ 'timeline.css' | asset_url }}">
  {{ 'timeline.css' | asset_url | stylesheet_tag }}
{% endif %}
{% if section.blocks.size > 0 %}
  <div class="section-wrapper {{ section.settings.color_scheme }}-color-scheme {% if section.settings.enable_gradiant %} gradient{% endif %}">
    <div class="container container-sm">
      <div class="timeline__content-box" data-timeline-selector>
        <div class="timeline__progress" data-timeline-progressbar>
          <div class="timeline__progress-bar"></div>
        </div>
        {% for block in section.blocks %}
          <div class="timeline__item" data-timeline-item {{ block.shopify_attributes }}>
            {% capture imageContent %}
                <div class="timeline__image"       
                  data-aos="fade-up"
                  data-aos-delay="200">
                  {% if block.settings.video != blank %}
                    {{
                      block.settings.video
                      | video_tag:
                        image_size: '1400x',
                        autoplay: true,
                        class: 'timeline-video_full_width',
                        loop: true,
                        controls: false,
                        muted: true
                    }}
                  {% elsif block.settings.image != blank %}
                        <div
                        class="image-wrapper"
                        style="--img-ratio:{{ 1 | divided_by : block.settings.image.aspect_ratio | times: 100 }}%"
                        >
                        {%- render 'lazy-image', image: block.settings.image -%}
                        </div>
                    {% else %}
                        <div class="image-wrapper" style="padding-bottom:100%">
                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                    {% endif %}
                </div>
                {% endcapture %}
            {% if block.settings.image_position == 'left' %}
              {{ imageContent }}
              <div class="timeline__icon-wrapper">
                <div class="timeline__icon">
                  <svg fill="currentColor" viewBox="0 0 14.64 14.68" fill="currentcolor">
                    <g><path d="m7.32,0c.18,0,.32.14.32.32v1.92c0,1.22.3,2.12.74,2.78.44.66,1.03,1.11,1.63,1.41.6.3,1.2.45,1.66.53.23.04.42.06.55.07.07,0,.12,0,.15,0,.02,0,.03,0,.04,0h0s0,0,0,0h1.91c.18,0,.32.14.32.32s-.14.32-.32.32h-1.91c-1.22,0-2.11.3-2.77.74-.66.44-1.1,1.03-1.4,1.63-.3.6-.45,1.21-.53,1.67-.04.23-.06.42-.07.55,0,.07,0,.12,0,.15,0,.02,0,.03,0,.04h0s0,0,0,0v1.92c0,.18-.14.32-.32.32s-.32-.14-.32-.32v-1.92c0-1.22-.3-2.12-.74-2.78-.44-.66-1.03-1.11-1.63-1.41-.6-.3-1.2-.45-1.66-.53-.23-.04-.42-.06-.55-.07-.07,0-.12,0-.15,0-.02,0-.03,0-.04,0h0s0,0,0,0H.32c-.18,0-.32-.14-.32-.32s.14-.32.32-.32h1.91c1.22,0,2.11-.3,2.77-.74.66-.44,1.1-1.03,1.4-1.63.3-.6.45-1.21.53-1.67.04-.23.06-.42.07-.55,0-.07,0-.12,0-.15,0-.02,0-.03,0-.04h0s0,0,0,0V.32c0-.18.14-.32.32-.32Z"></path></g>
                  </svg>
                </div>
              </div>
            {% endif %}

            <div
              class="timeline__content"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              {% if block.settings.heading != blank %}
                <h3 class="h3 timeline__heading" data-text="{{ block.settings.heading }}">
                  {{ block.settings.heading }}
                </h3>
              {% endif %}
              {% if block.settings.description != blank %}
                <div class="timeline__desc rte">
                  {{ block.settings.description | replace: '<p></p>', '<br>' }}
                </div>
              {% endif %}
            </div>

            {% if block.settings.image_position == 'right' %}
              <div class="timeline__icon-wrapper">
                <div class="timeline__icon">
                  <svg fill="currentColor" viewBox="0 0 14.64 14.68" fill="currentcolor">
                    <g><path d="m7.32,0c.18,0,.32.14.32.32v1.92c0,1.22.3,2.12.74,2.78.44.66,1.03,1.11,1.63,1.41.6.3,1.2.45,1.66.53.23.04.42.06.55.07.07,0,.12,0,.15,0,.02,0,.03,0,.04,0h0s0,0,0,0h1.91c.18,0,.32.14.32.32s-.14.32-.32.32h-1.91c-1.22,0-2.11.3-2.77.74-.66.44-1.1,1.03-1.4,1.63-.3.6-.45,1.21-.53,1.67-.04.23-.06.42-.07.55,0,.07,0,.12,0,.15,0,.02,0,.03,0,.04h0s0,0,0,0v1.92c0,.18-.14.32-.32.32s-.32-.14-.32-.32v-1.92c0-1.22-.3-2.12-.74-2.78-.44-.66-1.03-1.11-1.63-1.41-.6-.3-1.2-.45-1.66-.53-.23-.04-.42-.06-.55-.07-.07,0-.12,0-.15,0-.02,0-.03,0-.04,0h0s0,0,0,0H.32c-.18,0-.32-.14-.32-.32s.14-.32.32-.32h1.91c1.22,0,2.11-.3,2.77-.74.66-.44,1.1-1.03,1.4-1.63.3-.6.45-1.21.53-1.67.04-.23.06-.42.07-.55,0-.07,0-.12,0-.15,0-.02,0-.03,0-.04h0s0,0,0,0V.32c0-.18.14-.32.32-.32Z"></path></g>
                  </svg>
                </div>
              </div>
              {{ imageContent }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
<style>
  #shopify-section-{{ section.id }} .section-wrapper {
    --inner-space-top:{{ section.settings.top_space_desktop }}px;
    --inner-space-bottom:{{ section.settings.bottom_space_desktop }}px;
  }
  @media screen and (max-width:767px){
    #shopify-section-{{ section.id }} .section-wrapper {
      --inner-space-top:{{ section.settings.top_space_mobile }}px;
      --inner-space-bottom:{{ section.settings.bottom_space_mobile }}px;
    }
  }
  {% if section.settings.section_visibility == 'large' %}
    @media (max-width: 767px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% elsif section.settings.section_visibility == 'small' %}
    @media (min-width: 768px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% endif %}
</style>
{% schema %}
{
  "name": "t:sections.timeline.name",
  "tag": "section",
  "max_blocks": 6,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:common.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:common.section_visibility.options.always.label",
          "value": "always"
        },
        {
          "label": "t:common.section_visibility.options.small_devices.label",
          "value": "small"
        },
        {
          "label": "t:common.section_visibility.options.large_devices.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.color_singular_section.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:common.color_scheme.label",
      "default": "primary",
      "options": [
        {
          "value": "primary",
          "label": "t:common.color_scheme.options.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:common.color_scheme.options.secondary.label"
        },
        {
          "value": "tertiary",
          "label": "t:common.color_scheme.options.tertiary.label"
        },
        {
          "value": "quaternary",
          "label": "t:common.color_scheme.options.quaternary.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_gradiant",
      "label": "t:common.gradient.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:common.section_spacing.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:common.section_spacing.top_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:common.section_spacing.bottom_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:common.section_spacing.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:common.section_spacing.bottom_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "info",
      "name": "t:sections.timeline.blocks.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.image.label"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:common.video.label"
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "t:sections.timeline.blocks.settings.image_position.label",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "t:sections.timeline.blocks.settings.image_position.options.left.label"
            },
            {
              "value": "right",
              "label": "t:sections.timeline.blocks.settings.image_position.options.right.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:common.heading.label",
          "default": "Heading here"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:common.description.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.timeline.presets.name",
      "blocks": [
        {
          "type": "info",
          "settings": {
            "image_position": "left"
          }
        },
        {
          "type": "info",
          "settings": {
            "image_position": "right"
          }
        },
        {
          "type": "info",
          "settings": {
            "image_position": "left"
          }
        }
      ]
    }
  ]
}
{% endschema %}
